/* 
*Font Script
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope&family=Poppins:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  max-width: 120rem;
  margin: 0 auto;
  width: 97vw;
  background-color: #e02c6e1e;
}

/*
* Header
*/

/*
* Navigation
*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10rem;
  margin-bottom: 5rem;
}
.navigation__logo {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 10rem;
  cursor: pointer;
  color: #3a3a3a;
}
.navigation__logo:hover {
  color: #e02c6d;
}
.navigation__menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 10rem;
  font-weight: 600;
  color: #3a3a3a;
}
.navigation__menu a:not(:last-child) {
  padding-right: 2rem;
}
.navigation__menu a:hover {
  color: #e02c6d;
}

/*
*Welcome-section
*/

.welcome-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15rem;
}
.welcome-container__msg h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 1.6rem;
  color: #3a3a3a;
}
.welcome-container__msg p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.welcome-container__pic {
  display: flex;
  justify-content: end;
}
.welcome-container__pic img {
  width: 80%;
  object-fit: cover;
}

/*
! Universal Btn Design
*/

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  background: #e02c6d;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.658);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*
* Partner Section
*/

.partner-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  margin-bottom: 12rem;
}
.partner {
  display: inline-block;
}

/*
* Product Section
*/

.product-container {
  width: 90%;
  margin: 0 auto;
}
.product-container h1 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 5rem;
  color: #3a3a3a;
  margin-bottom: 3rem;
}
.products {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.products h2 {
  font-size: 2rem;
  font-weight: 400;
}
.products h3 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.product--utility {
  height: 4.5rem;
  padding: 1rem;
  height: 40rem;
  overflow: auto;
  box-shadow: 0.1rem 0.1rem 1rem #777;
  border-radius: 0.3rem;
  border: 5px solid white;
  transition: all 0.5s ease;
}
.product--utility:hover {
  transform: scale(1.1);
}
.product--utility img {
  width: 100%;
  object-fit: cover;
}
.product--utility p {
  font-size: 1.4rem;
  text-align: justify;
}
.product--ratings {
  display: flex;
}
.product--ratings span {
  margin-right: 1rem;
  font-size: 1rem;
}
.rating--color {
  color: orange;
  margin-bottom: 1rem;
}
.product--more {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #e02c6dde;
  /* display: inline-block */
}
.product--more p {
  display: inline-block;
  transition: all 0.1s;
}
.product--more p:hover {
  border-bottom: 5px solid #e02c6dde;
}

/*
* Affiliate Section
*/

.join-us {
  padding: 5rem;
  margin-bottom: 5rem;
}
.join-us__container {
  background-image: linear-gradient(
      105deg,
      white 0%,
      white 45%,
      transparent 45%
    ),
    url(./images/join.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem black;
}
.form {
  padding-top: 2rem;
  width: 45%;
  text-align: center;
  color: #3a3a3a;
}
.form h1 {
  padding: 2rem;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.form h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.email {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

/*
* Footer Section
*/

.footer {
  background-color: #0a0826;
  line-height: 3rem;
  color: #fff;
}
.footer h3 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  font-family: "Manrope", sans-serif;
}
.links {
  cursor: pointer;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 1rem;
  padding-bottom: 2rem;
}
.links a:hover {
  color: #e02c6d;
}

/*
*MEDIA QUERY
*/

/*
? This query perfectly works in 992px only
*/

@media only screen and (max-width: 992px) {
  .navigation {
    flex-direction: column;
  }
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .welcome-container__pic img {
    object-fit: cover;
  }
  .join-us {
    padding: 5rem;
    margin-bottom: 5rem;
  }
  .join-us__container {
    height: 30rem;
  }
  .form h1 {
    padding: 1rem;
    font-size: 3rem;
  }
  .form h3 {
    font-size: 1.8rem;
  }
  .email {
    font-size: 1rem;
  }
  .btn:link,
  .btn:visited {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.178);
  }
  .footer {
    line-height: 2rem;
  }
}

/*
? This query perfectly works in 768px only
*/

@media only screen and (max-width: 768px) {
  .navigation {
    margin-bottom: 1rem;
    line-height: 5rem;
  }
  .navigation__logo {
    line-height: 3rem;
    padding-top: 1rem;
  }
  .welcome-container {
    margin-bottom: 5rem;
  }
  .partner-container {
    margin-bottom: 5rem;
  }
  .products {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .product--more {
    margin-bottom: 1rem;
  }
  .join-us {
    padding: 3rem;
    margin-bottom: 3rem;
  }
  .join-us__container {
    height: 22rem;
  }
  .form h1 {
    font-size: 2rem;
  }
  .form h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .email {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

/*
? This query perfectly works in 576px only
*/

@media only screen and (max-width: 576px) {
  .navigation__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .navigation__menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .navigation {
    margin-bottom: 0.5rem;
    line-height: 1rem;
  }
  .navigation__logo {
    line-height: 1rem;
    padding-top: 3rem;
  }
  .welcome-container__msg h1 {
    font-size: 4rem;
  }
  .partner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto 2rem auto;
  }
  .product--more {
    justify-content: center;
  }
  .join-us {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .join-us__container {
    height: 20rem;
  }
  .form h1 {
    font-size: 2rem;
  }
  .form h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  .email {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
}

/*
? This query perfectly works in 500px only
*/

@media only screen and (max-width: 500px) {
  .join-us {
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .join-us__container {
    height: 18rem;
  }
  .form h1 {
    font-size: 2rem;
  }
  .form h3 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .email {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
}

/*
? This query perfectly works in 400px only
*/

@media only screen and (max-width: 400px) {
  .partner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .join-us {
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .join-us__container {
    height: 14rem;
  }
  .form h1 {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
  .form h3 {
    font-size: 0.8rem;
    margin-bottom: 0rem;
  }
  .email {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
  }
}

/*
? This query perfectly works in 300px only
*/

@media only screen and (max-width: 300px) {
  .navigation__logo {
    font-size: 2rem;
  }
  .navigation__menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .navigation__menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .navigation {
    margin-bottom: 0.5rem;
  }
  .navigation__logo {
    font-size: 1.8rem;
    line-height: 1rem;
    padding-top: 3rem;
  }
  .welcome-container__msg h1 {
    font-size: 3rem;
  }
  .partner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .join-us {
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .join-us__container {
    height: 10rem;
  }
  .form h1 {
    margin-top: 0rem;
    font-size: 1rem;
    margin-bottom: 0rem;
    padding: 0;
  }
  .form h3 {
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .email {
    font-size: 0.3rem;
  }
  .btn:link,
  .btn:visited {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
  }
  .footer p {
    font-size: 1rem;
  }
}
