/* 
* FONTS
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;

*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope&family=Poppins:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  max-width: 120rem;
  margin: 0 auto;
  width: 97vw;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 10rem;
  margin-bottom: 5rem;
}
.navigation__logo {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 10rem;
  cursor: pointer;
  color: #3a3a3a;
}
.navigation__logo:hover {
  color: #e02c6d;
}
.navigation__menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 10rem;
  font-weight: 600;
  color: #3a3a3a;
}
.navigation__menu a:not(:last-child) {
  padding-right: 2rem;
}
.navigation__menu a:hover {
  color: #e02c6d;
}
.welcome-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15rem;
}
.welcome-container__msg h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 6rem;
  margin-bottom: 1.6rem;
  color: #3a3a3a;
}
.welcome-container__msg p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.welcome-container__pic {
  display: flex;
  justify-content: end;
}
.welcome-container__pic img {
  object-fit: cover;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  background: #e02c6d;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.658);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.partner-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  margin-bottom: 12rem;
}
.partner {
  display: inline-block;
}
.product-container {
  width: 90%;
  margin: 0 auto;
}
.product-container h1 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 5rem;
  color: #3a3a3a;
  margin-bottom: 3rem;
}
.products {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.products h2 {
  font-size: 2rem;
  font-weight: 400;
}
.products h3 {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.product--utility {
  height: 4.5rem;
  padding: 1rem;
  height: 40rem;
  box-shadow: 0.1rem 0.1rem 1rem #777;
  border-radius: 0.3rem;
  border: 5px solid white;
  transition: all 0.5s ease;
}
.product--utility:hover {
  transform: scale(1.1);
}
.product--utility img {
  width: 100%;
  object-fit: cover;
}
.product--utility p {
  font-size: 1.4rem;
  text-align: justify;
}
.product--ratings {
  display: flex;
}
.product--ratings span {
  margin-right: 1rem;
  font-size: 1rem;
}
.rating--color {
  color: orange;
  margin-bottom: 1rem;
}
.product--more {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #e02c6dde;
  /* display: inline-block */
}
.product--more p {
  display: inline-block;
  transition: all 0.1s;
}
.product--more p:hover {
  border-bottom: 5px solid #e02c6dde;
}

.join-us {
  padding: 5rem;
  background-color: #e02c6e1e;
  margin-bottom: 5rem;
}
.join-us__container {
  background-image: linear-gradient(
      105deg,
      white 0%,
      white 45%,
      transparent 45%
    ),
    url(./images/join.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem black;
}
.form {
  padding-top: 2rem;
  width: 45%;
  text-align: center;
}
.form h1 {
  padding: 2rem;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.form h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.email {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
